.username-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .username-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: white;
    width: 90%;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .username-card h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .username-card input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .username-card button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #4facfe;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .username-card button:hover {
    background-color: #00f2fe;
  }

  .title{
    color: black
  }
  